extends ../layout 

block content 
  div.content

    div.content-header
      if !user
        h1 Clubhouse Posts 
          span.posts-cta (Want to create your own posts? Create an account!)
      else if user && !user.isMember
        h1 Clubhouse Posts 
          span.posts-cta (Want to see when each post was created and by who? Become a Member!)
      else
        h1 Clubhouse Posts
      if user
        a(href="/post/new")
          button Add New Post  

    div.posts-grid
      if posts.length
        for post in posts 
          div.post 
            p.post-title= post.formattedTitle 

            if user && user.isMember
              p.post-author-date By #{post.createdBy.formattedUsername} on #{post.formattedDate} at #{post.formattedTime}

            p.post-message= post.formattedMessage

            if user && user.isAdmin
              form(action=`/post/${post.id}/delete?_method=DELETE`, method="post")
                input(type="submit", value="Delete Post")

      else
        p.no-posts The Clubhouse currently doesn't have any posts. Why don't you create the first post?

  div.footer-line 
