extends ../layout 

block content 
  h1 Clubhouse Posts 
  if user
    a(href="/post/new")
      button Add New Post  
  for post in posts 
    div 
      p= post.title 
      if user && user.isMember
        p By #{post.createdBy.username} on #{post.formattedDate }
      p= post.message
      if user && user.isAdmin
        form(action=`/post/${post.id}/delete?_method=DELETE`, method="post")
          input(type="submit", value="Delete Post")